#whosOnFirstBackground {
    width:  100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: .75vw;
}

.whosOnFirstOverlay {
    /*background:url('../images/WhosOnFirstComponent.svg');*/
    margin:3.33% 3.33%;
    padding:3.33%;
    width:100%;
    height:100%;

/*  Old Scale System
    margin: 20px 20px;
    width: 600px;
    height:600px; */
    position:relative;
}

#whosOnFirstInnerBoarder {
    height:100%;
    padding:0%;
    width:100%;
/*  Old Scale System
    padding: 20px; */
}



#whosOnFirstDisplayText{
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 8vw;
    text-align: center;
    height: 100%;
    width: 45%;
    margin-left: 20%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.whosOnFirstIndicatorLight {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-block;
/*
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block; */
}

.whosOnFirstButtonContainer {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    background-color: transparent;
    margin-bottom: 10%;
    height:50%;

}

.whosOnFirstWordButton{
    margin: 0 0% 0 10%;
    width: 35%;
    height: 16%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.75vw;
    background-color: wheat;
}

.whosOnFirstWordButton:active {
    box-shadow: 2% 0% #666;
    transform: translateY(2%);
}

#whosOnFirstButtonRow {
    margin: 2%;
    
}

.whosOnFirstProgressLightContainer {
    display: inline-block;
    width: 12%;
    height: 70%;
    vertical-align: top;
    background-color: black;
    
}

.whosOnFirstLightGeneral {
    margin: 25% 0 10% 5%;
    width: 90%;
    height: 12%;
    background-color: white;
}

#whosOnFirstLowerSegment {
    height: 76.8%;
    padding-top: 10%;
}

.whosOnFirstUpperSegmentOverride {
    padding-top: 7.2%;
    width: 100%;
    height: 16%;
    margin-bottom: 7.2%;
}

.bombBackgroundGame {
  background:url('../images/bombBackround.jpg');
  position:relative;
  background-position: 60% 0%;
  background-repeat: no-repeat;
  padding: 23%;
  padding-top: 14%;
  padding-bottom: 32%;
  background-size: 110%;
}


.bombBackgroundLoss {
  background-color: black;
  position:relative;
  background-size: 110%;
  /*background-size: 150%;*/
}

.bombBackground {
  height: 100vw;
  width: 100vw;
  background-blend-mode: multiply;
}



.module-grid{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%;
  background-color: #2196F300;
  padding: 0%;
  height: 66.6666666666666666667%;
  width: 100%;
}


.module{
  border-color: black;
  border-width: .05vh;
  border-style: solid;
  width: fit-content;
  height: fit-content;
  background-color: brown;
  padding: 3%;
  font-size: 2vh;
  text-align: left;
  width:  100%;
  height: 100%;
}

#retryButton{
  width: 50%;
  height: 30%;
  color: red;
  background-color: black;
  border-color: red;
  margin: 15% 21.01%;
}

#moduleSize {
  width:  100%;
  height: 100%;
}

.genericModule {
  width:100%;
  height:100%;
  background-color: silver;
}

#genericBombOverlay {
  /* background:url('../images/Component.svg'); */
  width:100%;
  height:100%;
  position:relative;
}

#genericLightUpperSegment {
  padding-top: 7.2%;
  width: 100%;
  height: 16%;
}

#genericRightUpperSegmentLight {
  margin-right: 9.72%;
  width: 9%;
  height: 100%;
  float: right;
}

.genericIndicatorLight {
  border-color: black;
  border-style: solid;
  border-width: .05vh;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: inline-block;
}

.lightOff {
  background-color: #bbb;
}


.lightOn {
  background-color: #28e64f;
}


.red {
  color: black;
  background-color: #e62828;
}

.green {
  color: black;
  background-color: #28e64f;
}

.blue {
  color: white;
  background-color: blue;
}

.white {
  color: black;
  background-color: antiquewhite;
}

.yellow {
  color: black;
  background-color: yellow;
}

.warningRed {
  color: #aa00009e;
  background-color: #aa00009e;
}
